$darkblue: darken(#2795B6, 10%);

#top-nav {

  li {
    display: inline-block;
    padding: 10px;
  }

  a:hover {
    color: $darkblue;
    border-bottom: 2px dotted $darkblue;
  }
}

footer {
  color: gray;

  hr {
    margin: 22px 0px 10px;
  }

}