<footer class="row collapse"><hr>
  <div class="three columns">
    &copy; 2012 Team Ken Onin!
  </div>

  <div class="three columns">
    <a href="http://www.badsectorlabs.com">Sup, guys!</a>
  </div>

  <div class="three columns">

  </div>
</footer>
